/* How to use
   ========================================================================== */
.how-to-use,
.how-to-use-animated {
  border: 1px solid black;
  bottom: 0px;
  position: fixed;
  width: 100%;
}

.close-code-snippet {
  cursor: pointer;
}

.curved {
  border-radius: 30px 30px 30px 30px;
  border-width: 1.39px;

  &:focus {
    outline: none;
  }
}

.how-to-use-code {
  background-color: $lightest-gray;
  width: 100%;
}
