/* Template styles
   ========================================================================== */
body {
  font-size: $body-font-size;
  font-weight: 300;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  padding: 16px;
}

.icons-container {
  margin-bottom: 100px;
}

.two-columns {
  column-count: 2;
}

.tags,
.badge {
  margin: $tags-badge-margin;
}
